<section class="container container-about">
    <div class="row">
        <div class="col-md-12">
            <h1>About</h1>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
                Sora painting company has been established since 2011,
                has participated in huge projects such as Richards hospital,
                Melbourne carting and so many private project
            </p>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
               
            </p>
        </div>
    </div>
</section>
